.white-wrapper {
  background-color: white;
  background-size: cover;
}
#first {
  padding: 0;
  a {
    font-weight: bold;
    font-size: 24px;
    color: #21B3F6;
  }
}
.home-picture {
  background-image: image_url("home-picture.png");
  background-size: cover;
  height: 550px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.banner-content {
  width: 900px;
}
#picture-bis {
  height: 500px;
  background-image: image_url("home-canal.jpg");
  background-size: cover;
}
#home-grey-wrapper {
  color: #46678E;
  background-color: #F2F2F2;
  background-size: cover;
}
.title-container {
  padding: 50px;
}
.wrapper-features {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 50px 0px;
}
.feature {
  border: 4px solid #46678E;
  border-radius: 15px;
  padding: 50px 30px;
  width: 250px;
  height: 250px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  img {
    height: 50px;
  }
}

.container-parc {
  display: flex;
}
.map-index img {
  height: 100vh;
  padding-left: 15px;
}
.subdomain-links {
  width: 100%;
  padding: 0px 15px;
}
.title-sector{
  padding: 10px 0px;
}
.wrap-sub-sector {
  display: flex;
}
.sub-sector {
  border-radius: 3px;
  color: #4A4A4A;
  width: 50%;
  margin: 0px 5px 5px 5px;
  padding: 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  &:hover {
    background-color: #B5C1DA;
    background-size: cover;
    font-weight: bold;
  }
}
.modal {
  color: #4A4A4A;
}
.modal-title {
  text-align: center;
  color: #4A4A4A !important;

}
.picture-modal {
  text-align: center;
  padding-bottom: 20px;
  img {
    max-width: 870px;
    max-height: 700px;
  }
}
.container-book,
.container-domain {
  padding-bottom: 100px;
}
.contact-content {
  color: white;
  padding-bottom: 200px;
}
.book {
  text-align: center;
  img {
    width: 200px;
  }
}
.home-blue-wrapper {
  background-color: #46678E;
  background-size: cover;
  h2, h3 {
    color: white;
  }
}
#blue-div {
  box-shadow: none;
  &:hover {
    color: #46678E !important;
  }
}
#contact {
  color: white;
  cursor: pointer;
}
