<div class="white-wrapper">
  <div class="home-picture"></div>
  <div class="banner">
    <div class="banner-content">
      <div class="text-center">
        <h1>Le Parcours de l'eau autour du Château de Fontainebleau</h1>
        <h4>par Jacques Bessière</h4>
      </div>
      <div class="home-linktext-center ">
        <%= link_to "LIRE", "book.html" %>
      </div>
    </div>
  </div>
</div>
